
            <!-- Start Contentbar -->    
            <div class="contentbar">
                <!-- Start row -->
                <div class="row">
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Aspect ratios - 21:9</h5>                                
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle">Using the class <code class="highlighter-rouge">.embed-responsive-21by9</code></h6>
                                <div class="embed-responsive embed-responsive-21by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cr1lO36aCJ0?si=-Xv_1QDKm6vqPoqQ" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Guide</h5>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code class="language-markup">
                                        <div>
                                            <script type="text/plain" class="language-markup">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cr1lO36aCJ0?si=-Xv_1QDKm6vqPoqQ" allowfullscreen></iframe>
    </div>
                                            </script>
                                        </div>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Aspect ratios - 16:9</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle">Using the class <code class="highlighter-rouge">.embed-responsive-16by9</code></h6>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cr1lO36aCJ0?si=-Xv_1QDKm6vqPoqQ" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Aspect ratios - 4:3</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle">Using the class <code class="highlighter-rouge">.embed-responsive-4by3</code></h6>
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cr1lO36aCJ0?si=-Xv_1QDKm6vqPoqQ" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Aspect ratios - 1:1</h5>
                            </div>
                            <div class="card-body">                                
                                <h6 class="card-subtitle">Using the class <code class="highlighter-rouge">.embed-responsive-1by1</code></h6>
                                <div class="embed-responsive embed-responsive-1by1">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cr1lO36aCJ0?si=-Xv_1QDKm6vqPoqQ" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- End col -->
                </div>   
                <!-- End row -->
            </div>
            <!-- End Contentbar -->
            
    <!-- Start css -->
    <link href="/src/main/resources/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css">
    <!-- End css -->
    
    <!-- Start js -->
    <script src="/src/main/resources/static/lib/jquery-3.7.1.min.js"></script>
    <script src="/src/main/resources/static/lib/popper.min.js"></script>
    <script src="/src/main/resources/static/lib/bootstrap.js"></script>
    <script src="/src/main/resources/static/lib/modernizr.min.js"></script>
    <script src="/src/main/resources/static/lib/detect.js"></script>
    <script src="/src/main/resources/static/lib/jquery.slimscroll.js"></script>
    <!-- End js -->
