
            <!-- Start Contentbar -->    
            <div class="contentbar">
                <!-- Start row -->
                <div class="row">
                    <!-- Start col -->
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">File upload</h5>
                            </div>
                            <div class="card-body">
                                <form action="#" class="dropzone">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple="multiple">
                                    </div>
                                </form>
                                <div class="text-center m-t-15">
                                    <button type="button" class="btn btn-primary">Upload File</button>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <!-- End col -->

                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Guide</h5>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code class="language-markup">
                                        <div>
                                            <script type="text/plain" class="language-markup">
    <form action="#" class="dropzone">
        <div class="fallback">
            <input name="file" type="file" multiple="multiple">
        </div>
    </form>
    <div class="text-center m-t-15">
        <button type="button" class="btn btn-primary">Upload File</button>
    </div>
                                            </script>
                                        </div>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                </div> 
                <!-- End row -->
            </div>
            <!-- End Contentbar -->
            
    <!-- Start css -->
    <link href="/src/main/resources/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css">
    <!-- Dropzone css -->
    <link href="/src/main/resources/static/lib/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
    <!-- End css -->

    <!-- Start js -->
    <script src="/src/main/resources/static/lib/jquery-3.7.1.min.js"></script>
    <script src="/src/main/resources/static/lib/popper.min.js"></script>
    <script src="/src/main/resources/static/lib/bootstrap.js"></script>
    <script src="/src/main/resources/static/lib/modernizr.min.js"></script>
    <script src="/src/main/resources/static/lib/detect.js"></script>
    <script src="/src/main/resources/static/lib/jquery.slimscroll.js"></script>
    <!-- Dropzone js -->
    <script src="/src/main/resources/static/lib/plugins/dropzone/dist/dropzone.js"></script>
    <!-- End js -->
