
            <!-- Start Contentbar -->    
            <div class="contentbar">
                <!-- Start row -->
                <div class="row">
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Default Date</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date">
                                    <div class="input-group">
                                        <input type="text" id="default-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon1"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon1"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Guide</h5>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code class="language-markup">
                                        <div>
                                            <script type="text/plain" class="language-markup">
    <div class="form-group form-date">
        <div class="input-group">
            <input type="text" id="default-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon1"/>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="feather icon-calendar"></i></span>
            </div>
        </div>
    </div>
                                            </script>
                                        </div>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Auto Close Date</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date">
                                    <div class="input-group">
                                        <input type="text" id="autoclose-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon2"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Guide</h5>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code class="language-markup">
                                        <div>
                                            <script type="text/plain" class="language-markup">
    <div class="form-group form-date">
        <div class="input-group">
            <input type="text" id="autoclose-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon2"/>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="feather icon-calendar"></i></span>
            </div>
        </div>
    </div>
                                            </script>
                                        </div>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Year View Date</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date">
                                    <div class="input-group">
                                        <input type="text" id="year-view-date" class="form-control" placeholder="YYYY" aria-describedby="basic-addon3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon3"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Guide</h5>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code class="language-markup">
                                        <div>
                                            <script type="text/plain" class="language-markup">
    <div class="form-group form-date">
        <div class="input-group">
            <input type="text" id="year-view-date" class="form-control" placeholder="YYYY" aria-describedby="basic-addon3" />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon3"><i class="feather icon-calendar"></i></span>
            </div>
        </div>
    </div>
                                            </script>
                                        </div>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Month View Date</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date">
                                    <div class="input-group">
                                        <input type="text" id="month-view-date" class="form-control" placeholder="YYYY-MM" aria-describedby="basic-addon4" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon4"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Guide</h5>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code class="language-markup">
                                        <div>
                                            <script type="text/plain" class="language-markup">
    <div class="form-group form-date">
        <div class="input-group">
            <input type="text" id="month-view-date" class="form-control" placeholder="YYYY-MM" aria-describedby="basic-addon4" />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon4"><i class="feather icon-calendar"></i></span>
            </div>
        </div>
    </div>
                                            </script>
                                        </div>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Time Format</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date">
                                    <div class="input-group">
                                        <input type="text" id="time-format" class="form-datepicker form-control" placeholder="YYYY-MM-DD - hh:ii aa" aria-describedby="basic-addon5" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon5"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Multi Date</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date">
                                    <div class="input-group">
                                        <input type="text" id="multi-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD - YYYY-MM-DD - YYYY-MM-DD" aria-describedby="basic-addon6" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon6"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Range Dates</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date range-datepicker">
                                    <div class="input-group">
                                        <input type="text" id="range-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD - YYYY-MM-DD" aria-describedby="basic-addon7" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon7"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="button-month">
                                        <button type="button" class="btn btn-primary" id="btn-3rm">3개월</button>
                                        <button type="button" class="btn btn-primary" id="btn-6rm">6개월</button>
                                        <button type="button" class="btn btn-primary" id="btn-9rm">9개월</button>
                                        <button type="button" class="btn btn-primary" id="btn-12rm">12개월</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Guide</h5>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code class="language-markup">
                                        <div>
                                            <script type="text/plain" class="language-markup">
    <div class="form-group form-date range-datepicker">
        <div class="input-group">
            <input type="text" id="range-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD - YYYY-MM-DD" aria-describedby="basic-addon7" />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon7"><i class="feather icon-calendar"></i></span>
            </div>
        </div>
        <div class="button-month">
            <button type="button" class="btn btn-primary" id="btn-3rm">3개월</button>
            <button type="button" class="btn btn-primary" id="btn-6rm">6개월</button>
            <button type="button" class="btn btn-primary" id="btn-9rm">9개월</button>
            <button type="button" class="btn btn-primary" id="btn-12rm">12개월</button>
        </div>
    </div>
                                            </script>
                                        </div>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Range Dates</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date range-month">
                                    <div class="input-group">
                                        <input type="text" id="default-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon8"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon8"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                    <span class="devider-bullet">-</span>
                                    <div class="input-group">
                                        <input type="text" id="default-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon9"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon9"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="button-month">
                                        <button type="button" class="btn btn-primary" id="btn-3m">3개월</button>
                                        <button type="button" class="btn btn-primary" id="btn-6m">6개월</button>
                                        <button type="button" class="btn btn-primary" id="btn-9m">9개월</button>
                                        <button type="button" class="btn btn-primary" id="btn-12m">12개월</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Guide</h5>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code class="language-markup">
                                        <div>
                                            <script type="text/plain" class="language-markup">
    <div class="form-group form-date range-month">
        <div class="input-group">
            <input type="text" id="default-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon8"/>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon8"><i class="feather icon-calendar"></i></span>
            </div>
        </div>
        <span class="devider-bullet">-</span>
        <div class="input-group">
            <input type="text" id="default-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon9"/>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon9"><i class="feather icon-calendar"></i></span>
            </div>
        </div>
        <div class="button-list">
            <button type="button" class="btn btn-outline-primary" id="btn-3m">3개월</button>
            <button type="button" class="btn btn-outline-primary" id="btn-6m">6개월</button>
            <button type="button" class="btn btn-outline-primary" id="btn-9m">9개월</button>
            <button type="button" class="btn btn-outline-primary" id="btn-12m">12개월</button>
        </div>
    </div>
                                            </script>
                                        </div>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Min and Max Dates</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date">
                                    <div class="input-group">
                                        <input type="text" id="min-max-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon10" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon10"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                    <!-- Start col -->
                    <div class="col-lg-6">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">Disable days of week</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group form-date">
                                    <div class="input-group">
                                        <input type="text" id="disable-day-date" class="datepicker-here form-datepicker form-control" placeholder="YYYY-MM-DD" aria-describedby="basic-addon11" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon11"><i class="feather icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- End col -->
                </div> 
                <!-- End row -->
            </div>
            <!-- End Contentbar -->
            
    
    <!-- Start css -->
    <link href="/src/main/resources/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/lib/plugins/datepicker/datepicker.min.css" rel="stylesheet" type="text/css">
    <!-- End css -->
    
    <!-- Start js -->
    <script src="/src/main/resources/static/lib/jquery-3.7.1.min.js"></script>
    <script src="/src/main/resources/static/lib/popper.min.js"></script>
    <script src="/src/main/resources/static/lib/bootstrap.js"></script>
    <script src="/src/main/resources/static/lib/modernizr.min.js"></script>
    <script src="/src/main/resources/static/lib/detect.js"></script>
    <script src="/src/main/resources/static/lib/jquery.slimscroll.js"></script>
    <!-- Datepicker JS -->
    <script src="/src/main/resources/static/lib/plugins/datepicker/datepicker.min.js"></script>
    <script src="/src/main/resources/static/lib/plugins/datepicker/i18n/datepicker.ko.js"></script>
    <script src="/src/main/resources/static/lib/custom/custom-form-datepicker.js"></script>
    <!-- End js -->

    