@charset "UTF-8";

/* Content */
/* 증명서 팝업 */
.header-certificate{
    margin-bottom: 32px;
    color: #1E2024;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}
.body-certificate-header{
    margin-bottom: 16px;
}
.body-certificate-header .body-certificate-title{
    margin-bottom: 4px;
    font-size: 20px;
    color: #1E2024;
    font-weight: 500;
    line-height: 28px;
}
.body-certificate-header .body-certificate-date{
    font-size: 15px;
    color: #8F95A3;
    font-weight: 500;
    line-height: 24px;
}
.body-certificate-text p{
    font-size: 17px;
    color: #1E2024;
    font-weight: 400;
    line-height: 24px;
}
.body-certificate-text p + p{
    margin-top: 8px;
}
.body-certificate-foot{
    margin-top: 32px;
    text-align: center;
}
.body-certificate-foot .body-certificate-date{
    margin-bottom: 4px;
    font-size: 15px;
    color: #6E7686;
    font-weight: 400;
    line-height: 24px;
}
.body-certificate-foot .body-certificate-name{
    font-size: 20px;
    color: #1E2024;
    font-weight: 600;
    line-height: 28px;
}

