<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.esi.nextgen.mapper.TestMapper">

    <select id="getData" resultType="java.util.HashMap">
        SELECT 
            no, cst_nm, cst_email, inst_dtm, mdf_dtm
        FROM test
        WHERE 1 = 1
    </select>

</mapper>