<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
    <header>
        <div class="header-container">
            <h1 class="logo">결제전산원 Logo</h1>
            <div class="header-right">
                <div class="header-right-item">
                    <div class="header-right-changeMode"><button class="btn btn-secondary xs">판매기업 전환</button></div>
                    <div class="header-right-timer">09:42 <button class="btn btn-secondary xs">연장</button></div>
                    <div class="header-right-logState"><button class="btn btn-secondary xs">로그아웃</button></div>
                    <div class="header-right-push"><button class="btn btn-secondary xs">알람</button></div>
                </div>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#">조회</a></li>
                    <li><a href="#">발행</a></li>
                    <li><a href="#">할인</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
            </nav>
        </div>
    </header>
</html>