
            <!-- Start Contentbar -->    
            <div class="contentbar">
                <!-- Start row -->
                <div class="row">
                    <!-- Start col -->
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title">PNG Icons</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle">Usage <code>&lt;image src="/src/main/resources/images/common/Icon/1x/abcd.png"&gt;</code>.</h6>
                                <div class="row icon-box-list icon-svg-list">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                        <p><span><img src="/src/main/resources/images/common/Icon/1x/ico_calendar.png" class="img-fluid icon-svg" alt="ico_calendar"></span>ico_calendar.png</p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                        <p><span><img src="/src/main/resources/images/common/Icon/1x/ico_drop_down.png" class="img-fluid icon-svg" alt="ico_drop_down"></span>ico_drop_down.png</p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                        <p><span><img src="/src/main/resources/images/common/Icon/1x/ico_alert.png" class="img-fluid icon-svg" alt="ico_alert"></span>ico_alert.png</p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                        <p><span><img src="/src/main/resources/images/common/Icon/1x/ico_plus.png" class="img-fluid icon-svg" alt="ico_plus"></span>ico_plus.png</p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                        <p><span><img src="/src/main/resources/images/common/Icon/1x/ico_minus.png" class="img-fluid icon-svg" alt="ico_minus"></span>ico_minus.png</p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                        <p><span><img src="/src/main/resources/images/common/Icon/1x/ico_restore.png" class="img-fluid icon-svg" alt="ico_restore"></span>ico_restore.png</p>
                                    </div>
                                    
                                </div>
                            </div>     
                        </div>                     
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
            <!-- End Contentbar -->
            
    <!-- Start css -->
    <link href="/src/main/resources/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css">
    
    <!-- Start js -->
    <script src="/src/main/resources/static/lib/jquery-3.7.1.min.js"></script>
    <script src="/src/main/resources/static/lib/popper.min.js"></script>
    <script src="/src/main/resources/static/lib/bootstrap.js"></script>
    <script src="/src/main/resources/static/lib/modernizr.min.js"></script>
    <script src="/src/main/resources/static/lib/detect.js"></script>
    <script src="/src/main/resources/static/lib/jquery.slimscroll.js"></script>
    <!-- End js -->